<div>
    <h2>Conway's Game Of Life</h2>
    <p>This is a <a href="http://en.wikipedia.org/wiki/Conway's_Game_of_Life" target="_blank">Game Of Life</a> simulator, written in Java Spring Boot and Angular, by <a href="https://zsigmondpeter.hu" target="_blank">Peter Zsigmond</a>.</p>
    <p class="small">The Git repository for this project can be found here: <a href="https://github.com/PeterZsigmond/GameOfLife-Backend" target="_blank">Backend</a>, <a href="https://github.com/PeterZsigmond/GameOfLife-Frontend" target="_blank">Frontend</a>.</p>
    <p class="small">You can download .lif <a href='assets/lif_files.zip' download>files</a>, to start playing. Have fun!</p>
</div>